.footer {
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.footer .container {
    width: 73vw;
    margin-top: 11vh;
    margin-bottom: 10vh;
    display: flex;
    font-size: 0.8vw;
    height: auto;
}

.footer a {
    width: fit-content;
}

.about {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.follow {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.connect {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-title {
    color: #c5c5c5;
    padding-bottom: 3.6vh;
    font-size: 1.3vw;
}

.contact-text {
    font-size: 0.8vw;
}

.footer-link-out {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 50%;
}

@media screen and (max-width: 800px) {
    .footer .container {
        width: 80vw;
        margin-top: 6vh;
        margin-bottom: 11vh;
        flex-wrap: wrap;
        font-size: 3.5vw;
        row-gap: 10vw;
        column-gap: 15vw;
    }
    .About {
        width: 40%;
    }
    .follow {
        width: 40%;
    }
    .connect {
        width: 100%;
        gap: 1vw;
        align-items: flex-start;
    }
    .topTitle {
        padding-bottom: 3.6vh;
        font-size: 5.7vw;
    }
    .contactText {
        font-size: 3vw;
    }
}