* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  color: #000000;
  background: #ffffff;
}

::selection {
  color: #000000;
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 0;

}

body {
  overflow-x: hidden;
}

html.lenis,
html.lenis body {
  height: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

#root {
  overflow: hidden;
  cursor: none;
}

a {
  cursor: none !important;
  text-decoration: none;
}


